body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(15deg, var(--color-background) 45%, var(--color-primary) 45%, var(--color-primary) 50%, var(--color-background) 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Sora;
}

main {
    min-height: 100%; /*Para ocupar todo espacio del navegador*/
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-box);
    padding: 32px;
    gap: 24px;
    border: 4px solid var(--shadow);
    box-shadow: 4px 4px 0px var(--shadow);
}

h1, h2 {
    margin-block: 0px;
}

button {
    appearance: none;
    border: none;
    padding: 12px;
    font-family: Sora;
    transition: 0.2s;
    will-change: transform;
    width: 100%;
}

button:hover {
    filter: brightness(125%);
    cursor: pointer;
}

button:active {
    scale: 0.96;
}

form section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input {
    font-family: Sora;
}

.title {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--color-primary);
    text-decoration-style: solid;
    margin-bottom: 24px;
}

.textInput {
    appearance: none;
    width: 300px;
    height: 32px;
    border: 2px solid var(--color-border);
    padding: 16px 12px;
    transition: 0.2s;
}

.textInput:hover {
    outline: none;
    border: 2px solid var(--shadow);
}

.textInput:focus {
    outline: none;
    border: 2px solid var(--color-primary);
}

.textInput:invalid {
    border: 2px solid red;
}

.btnEnter {
    color: white;
    background-color: var(--color-submit);
}

.btnHighlight {
    color: white;
    background-color: var(--color-primary);
}

.btnCancel {
    color: white;
    background-color: var(--color-cancel);
}